@import "../../../utilities/scss/style.scss";

.form-body {
	width: 100%;
	height: 80vh;
}

.form-header-container {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: $headers;
	font-size: 35px;
}

.line-one {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
}

.line-two {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
}
.line-three {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
}

.three-five {
	font-family: "lora";
	padding-left: 5px;
	padding-right: 5px;
}

.input-container {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.top-inputs {
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-header {
	width: 350px;
	height: 40px;
	font-family: $headers;
	font-size: 25px;
}

.name-phone-number-container {
	width: 400px;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.name-phone-number-input {
	width: 150px;
	height: 20px;
	margin-bottom: 10px;
	background-color: #ededed;
	border: 0;
}

.name-input-container {
	width: 160px;
	height: 20px;
}

.email-input {
	width: 310px;
	height: 20px;
	background-color: #ededed;
	border: 0;
}

.bottom-inputs {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.arbnb-input {
	width: 330px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arbnb-url {
	width: 315px;
	height: 20px;
	background-color: #ededed;
	border: 0;
}

.home-details-inputs {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 250px;
}
.or {
	width: 60px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.left-inputs {
	width: 210px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
}

.right-inputs {
	width: 210px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.details-inputs {
	width: 200px;
	height: 20px;
	background-color: #ededed;
	border: 0;
	margin-bottom: 5px;
}
