@import "../../../utilities/scss/style.scss";

.first-text-body {
	width: 100%;
	height: 80vh;
	@include flexRow;
}

.house-pic-container {
	width: 50%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.house-pic {
	width: 85%;
	height: 85%;
}
