@import "../../../utilities/scss/style.scss";

.second-text-body {
	width: 100%;
	height: 100vh;
	@include flexRow;
}

.living-room-pic-container {
	width: 50%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.living-room-pic {
	width: 90%;
	height: 85%;
}

.second-text-header {
	width: 800px;
	height: 280px;
	margin-top: 140px;
	margin-left: 80px;
	font-family: $headers;
	font-size: 90px;
	line-height: 110px;
}

.st-text-one {
	width: 800px;
	height: 150px;
	margin-left: 80px;
	font-family: $body-text;
	font-size: 25px;
	line-height: 35px;
}

.st-text-two {
	width: 800px;
	height: 150px;
	margin-left: 80px;
	font-family: $body-text;
	font-size: 25px;
	line-height: 35px;
}
