@import "../../../utilities/scss/style.scss";

.third-text-body {
	width: 100%;
	height: 60vh;
	@include flexRow;
}

.toast-pic-container {
	width: 55%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.toast-pic {
	width: 90%;
	height: 85%;
}

.third-text-header {
	width: 700px;
	height: 360px;
	margin-top: 80px;
	margin-left: 80px;
	font-family: $headers;
	font-size: 90px;
	line-height: 110px;
}

.tt-text-one {
	width: 700px;
	height: 150px;
	margin-left: 80px;
	font-family: $body-text;
	font-size: 25px;
	line-height: 35px;
}
