@import "../../../utilities/scss/style.scss";

.third-text-body {
	width: 100%;
	height: 60vh;
	@include flexRow;
}

.toast-pic-container {
	width: 55%;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.toast-pic {
	width: 90%;
	height: 85%;
}
